{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"useTabs": true,
	"semi": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"endOfLine": "lf"
}
